@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:wght@400;500;600&display=swap");
html,
body,
.normal-block {
  font-size: 16px;
  line-height: 1.75;
}

h1.title {
  font-family: "Playfair Display";
  font-weight: 600;
  text-align: center;
}

html[data-theme=light][data-color=none] {
  --ls-scrollbar-width: 5px;
}
html[data-theme=light][data-color=none] #create-button {
  display: var(--display-create-button) !important;
}
html[data-theme=light][data-color=none] #skip-to-main {
  display: none;
}
html[data-theme=light][data-color=none] .cp__right-sidebar-topbar {
  justify-content: center;
}
html[data-theme=light][data-color=none] .cp__right-sidebar-topbar button {
  text-transform: capitalize;
}
html[data-theme=light][data-color=none] .sidebar-item-list {
  padding: 0 1.25rem;
}
html[data-theme=light][data-color=none] .sidebar-item-list > .sidebar-item {
  margin-bottom: 0.75rem;
  border-width: 5px;
}

html[data-theme=light][data-color=none] {
  /* Backgrounds */
  --ls-primary-background-color: var(--fs-primary-background-color);
  --ls-tertiary-background-color: var(--fs-secondary-background-color);
  --secondary: 41, 31%, 88%;
  --primary-foreground: 40, 33%, 16%;
  /* Texts */
  --ls-primary-text-color: var(--fs-primary-text-color);
  --ls-page-mark-bg-color: var(--fs-mark-color);
  /* Links */
  --ls-link-text-color: var(--fs-link-color);
  --ls-block-ref-link-text-color: var(--fs-link-color);
  --ls-link-text-hover-color: var(--fs-link-hover-color);
  --ls-link-ref-text-color: var(--fs-link-color);
  --ls-link-ref-text-hover-color: var(--fs-link-hover-color);
  --ls-anchor-link-text-color: var(--fs-link-color);
  --ls-anchor-link-text-color-hover: var(--fs-link-hover-color);
  /* Code */
  --ls-page-inline-code-bg-color: var(--fs-secondary-background-color);
  /* Blockquote */
  --ls-page-blockquote-color: var(--fs-blockquote-color);
  --ls-page-blockquote-bg-color: var(--fs-secondary-background-color);
  --ls-page-blockquote-border-color: var(--fs-tertiary-background-color);
  --border: 44, 31%, 88%;
  /* Scrollbar */
  --ls-scrollbar-background-color: var(--fs-primary-background-color);
  --ls-scrollbar-foreground-color: var(--fs-secondary-background-color);
  /* Bullet */
  --ls-block-bullet-active-color: var(--fs-link-color);
  /* Model */
  /* Settings */
}
html[data-theme=light][data-color=none] .CodeMirror {
  background-color: var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] .left-sidebar-inner {
  background-color: var(--fs-primary-background-color);
}
html[data-theme=light][data-color=none] .sidebar-item {
  background-color: var(--fs-primary-background-color);
  border-color: var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] .header,
html[data-theme=light][data-color=none] .sidebar-item-header {
  background-color: var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] .resizer,
html[data-theme=light][data-color=none] .left-sidebar-resizer {
  background-color: var(--fs-secondary-background-color);
  width: 6px !important;
}
html[data-theme=light][data-color=none] .block-ref {
  border-bottom: 1px solid #4160B4;
  color: var(--fs-primary-text-color);
}
html[data-theme=light][data-color=none] .external-link {
  border-bottom: 1px solid var(--fs-external-link-color);
  color: var(--fs-external-link-color);
}
html[data-theme=light][data-color=none] .ui__modal-panel {
  border: 5px solid var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] .opacity-75 {
  background-color: rgba(249, 247, 243, 0.75);
}
html[data-theme=light][data-color=none] .cp__settings-inner aside {
  background-color: var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] .cp__right-sidebar-topbar button {
  background-color: var(--fs-secondary-background-color);
}
html[data-theme=light][data-color=none] svg.note {
  color: #4B97FB;
}
html[data-theme=light][data-color=none] svg.warning {
  color: #f3a683;
}

:root {
  --display-create-button: none;
  --ls-font-family: "IBM Plex Sans";
  --ls-page-title-size: 36px;
  --ls-page-text-size: 1em;
  --ls-scrollbar-width: 6px;
  --fs-primary-text-color: #15223D;
  --fs-primary-background-color: #f9f7f3;
  --fs-secondary-background-color: #f1ede4;
  --fs-tertiary-background-color: #EAE4D7;
  --fs-mark-color: #FFADAD;
  --fs-external-link-color: #0e9594;
  --fs-link-color: #3b58a5;
  --fs-link-hover-color: #1c284a;
  --fs-blockquote-color: #1f335b;
}
